{% extends 'svh/base.html' %}

{% load static %}

{% block content %}
<div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/about_us.jpg' %}" width="100vh"></div>
</div>
<div class="container flow-text">
    <div class="section">
        <div class="row center">
            <h1 class="header center light-blue-text text-darken-4">Über uns</h1>
        </div>
        <div class="row">
            <div class="col s12 center">
                <h4>Sport verbindet</h4>
                Der SV Liegau-Augustusbad 1951 e.V. ist ein weltoffener und inklusiver Verein, der gleichermaßen für Sportler*innen mit und ohne Behinderung eine Heimat ist. Neben dem Fußball im aktiven Spielbetrieb des Westlausitzer Fußballverbandes bieten wir seit einigen Jahren in unserer Breitensportabteilung Angebote für Gesundheits- und Präventivsport sowie für Tischtennis- und Bowlingbegeisterte an.

                All unser Tun folgt dem Leitgedanken: Unsere Jugend ist unsere Zukunft.
            </div>
        </div>
        <div class="row">
            <div class="carousel carousel-slider center">
                <a class="carousel-item" href="#one!"><img src="https://images.unsplash.com/photo-1639581255054-e49a43e23344?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1732&q=80"></a>
                <a class="carousel-item" href="#two!"><img src="https://images.unsplash.com/photo-1639581255054-e49a43e23344?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1732&q=80"></a>
                <a class="carousel-item" href="#three!"><img src="https://images.unsplash.com/photo-1639581255054-e49a43e23344?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1732&q=80"></a>
                <a class="carousel-item" href="#four!"><img src="https://images.unsplash.com/photo-1639581255054-e49a43e23344?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1732&q=80"></a>
                <a class="carousel-item" href="#five!"><img src="https://images.unsplash.com/photo-1639581255054-e49a43e23344?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1732&q=80"></a>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l5">
                <h4>Vereinsgeschichte - seit 1337</h4>
                <p>Am 01.07.1951 wurde die Sportgemeinschaft Liegau-Augustusbad durch die Sportfreunde Horst und Christoph Kuchinke, Wolfgang Hempel und Horst Hantsche als Fußballverein gegründet. Am 01.05.1960 ging aus ihr die BSG Chemie Liegau-Augustusbad hervor.</p>
                <p>Nach der friedlichen Revolution gelang 1990 der Neuanfang der Betriebssportgemeinschaft. 1992 entstand aus ihr der neu gegründete SV Liegau-Augustusbad 1951 e.V. zunächst als reiner Fußballverein. Heute hat der Verein über 200 Mitglieder in den Abteilungen Fußball und Breitensport.</p>
            </div>
            <div class="col s12 m12 l7">
                <img class="materialboxed" width="100%" src="https://images.unsplash.com/photo-1639581255054-e49a43e23344?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1732&q=80">
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l7">
                <img class="materialboxed" width="100%" src="https://images.unsplash.com/photo-1639581255054-e49a43e23344?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1732&q=80">
            </div>
            <div class="col s12 m12 l5">
                <h4>In der Jugend liegt die Kraft.</h4>
                <p>Der kontinuierliche Aufbau der Nachwuchsabteilung zahlte sich bereits 1997 mit den Kreismeistertiteln mehrerer Altersklassen aus. Nach mehrmaligen Verbandsreformen gelang in den Jahren 2009 bis 2013 mit den Kreismeister- und pokaltiteln im Großfeldbereich der Altersklassen C- bis A- Jugend der abermalige Aufstieg in die Bezirksliga.</p>
                <p>Die demografische Entwicklung bremste den Erfolgshunger der Liegauer Nachwuchsabteilung in der Folge aus. Doch mit den Kreismeistertiteln der E- und D-Junioren in den Jahren 2018 bis 2019 und dem damit verbundenen Aufstieg in die Kreisoberliga wird das Fundament für eine Stabilisierung im Großfeldbereich gelegt. Perspektivisch streben wir mit unserer Männermannschaft die Rückkehr in die Kreisliga an.</p>
    </div>
        </div>
    </div>
</div>
{% endblock %}