{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title class="light-blue darken-4">SV Hörne 01 | Dein Fussballverein im Werra-Meißner-Kreis</title>
        <!--Import Google Icon Font-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen,projection"/>
        <!--Let browser know website is optimized for mobile-->
    </head>
        <header>
            <nav class="light-blue darken-4" role="navigation">
                <div class="nav-wrapper container">
                    <a href="/" class="brand-logo">SVH</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/results">Ergebnisse</a></li>
                        <li><a href="/reports">Spielberichte</a></li>
                        <li><a href="/players">Spielerdaten</a></li>
                        <li><a href="/schedule">Spielplan</a></li>
                        <li><a href="/stats">Ligastatistik</a></li>
                        <!-- <li><a href="/about">Über uns</a></li> -->
                        <li><a href="/contact">Kontakt</a></li>
                    </ul>
                </div>
                <ul class="sidenav light-blue darken-4" id="mobile-demo">
                    <li><a class="white-text" href="/">Hauptseite</a></li>
                    <li><a class="white-text" href="/results">Ergebnisse</a></li>
                    <li><a class="white-text" href="/reports">Spielberichte</a></li>
                    <li><a class="white-text" href="/players">Spielerdaten</a></li>
                    <li><a class="white-text" href="/schedule">Spielplan</a></li>
                    <li><a class="white-text" href="/stats">Ligastatistik</a></li>
                    <!-- <li><a class="white-text" href="/about">Über uns</a></li> -->
                    <li><a class="white-text" href="/contact">Kontakt</a></li>
                </ul>
            </nav>
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer class="page-footer light-blue darken-4">
            <div class="container">
                <div class="row">
                    <div class="col l3 m6 s12">
                        <h5 class="white-text">Dokumente</h5>
                        <ul>
                            {% for doc in documents %}
                            {% if doc.showInFooter %}
                            <li><a target="_blank" class="white-text" href="/media/{{ doc.document }}"><u>{{ doc.name }}</u></a></li>
                            {% endif %}
                            {% empty %}
                                Keine Dokumente vorhanden
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col l3 m6 s12">
                        <h5 class="white-text">Kontakt</h5>
                        <ul>
                            <li>SV Hörne 01 e.V.</li>
                            <li>Am Siebenborn 8</li>
                            <li>37242 Bad Sooden-Allendorf</li>
                            <li><a class="white-text" href="mailto:info@svhoerne.de">info@svhoerne.de</a></li>
                        </ul>
                    </div>
                    <div class="col l3 m6 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="white-text" href="/impressum/"><u>Impressum</u></a></li>
                            <li><a class="white-text" href="/datenschutz/"><u>Datenschutzerklärung</u></a></li>
                        </ul>
                    </div>
                    <div class="col l3 m6 s12">
                        <h5 class="white-text">Folge uns</h5>
                        <ul>
                            <li><a class="white-text" target="_blank" href="https://www.facebook.com/SV-H%C3%B6rne-01-230826706949364/"><u>Facebook</u></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <footer class="page-footer orange accent-3">
            <section class="">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m8">
                            <b>© Copyright - SV Hörne 01 e.V.</b>
                        </div>
                    </div>
                </div>
            </section>
        </footer>

        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
        <script>M.AutoInit();</script>
    </body>
</html>