{% extends 'svh/base.html' %}

{% load static %}

{% block content %}
<div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/contact.jpg' %}" width="100vh"></div>
</div>
<div class="container">
    <div class="section">
        <form method="post">
            {% csrf_token %}
            <div class="row center">
                <h2 class="header center light-blue-text text-darken-4">Kontakt</h2>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 l6">
                    {{ form.name }}
                    <label for="id_name">Vor- und Nachname</label>
                </div>
                <div class="input-field col s12 m6 l6">
                    {{ form.email }}
                    <!-- <input id="email" type="email" class="validate"> -->
                    <label for="id_email">E-Mail</label>
                    <span class="helper-text" data-error="Ungültige E-Mail-Adresse" data-success="Vielen Dank!"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form.inquiry }}
                    <label for="id_inquiry">Betreff</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form.message }}
                    <label for="id_message">Deine Nachricht</label>
                </div>
            </div>
            <div class="right-align">
                <button class="btn waves-effect waves-light orange accent-3" type="submit" name="action">
                    Senden
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}