{% extends 'svh/base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <div class="section flow-text">
        <div class="row center">
            <h1 class="header center light-blue-text text-darken-4">Impressum</h1>
        </div>
        <div class="row">
            <div class="col s12">
                <h4>Angaben gemäß § 5 TMG</h4>
                <p>
                    SV Hörne 01 e.V.<br />
                    Am Siebenborn 8<br />
                    37242 Bad Sooden-Allendorf
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <h4>Kontakt</h4>
                <p>
                    E-Mail: <a href="mailto:info@svhoerne.de">info@svhoerne.de</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <h4>EU-Streitschlichtung</h4>
                <p>
                    Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a target="_blank" href="https://ec.europa.eu/consumers/odr/">https://ec.europa.eu/consumers/odr/</a>. Unsere E-Mail-Adresse finden Sie oben im Impressum.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <h4>Verbraucherstreitbeilegung/Universalschlichtungsstelle</h4>
                <p>
                    Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}