{% extends 'svh/base.html' %}

{% load static %}

{% block content %}

<div class="section no-pad-bot">
    <h1 class="header center light-blue-text text-darken-4"><img src="{% static 'images/svh_logo.png' %}" height="200vh"></h1>
    <div class="row center">
        <h5 class="header col s12 light flow-text">Werde Mitglied im Verein SV Hörne 01 und Teil von leidenschaftlichem Fußball im Werra-Meißner-Kreis.</h5>
        <h5 class="header col s12 light flow-text">Die SV Hörne 01-Familie freut sich auf dich!</h5>
    </div>
    <br><br>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/index.jpg' %}" width="100vmin"></div>
</div>

<div class="container">
    <div class="row">
        {% if next_game %}
        <div class="col l8 m12">
        {% else %}
        <div class="col l12 m12">
        {% endif %}
            <h3 class="header light-blue-text text-darken-4">News</h3>
            {% for post in news %}
                <h4>{{ post.title }}</h4>
                <time class="date">
                    {{ post.pub_date }}
                </time>
                <p>{{ post.text }}</p>
            {% empty %}
                <p>Keine Neuigkeiten eingetragen</p>
            {% endfor %}
        </div>
        {% if next_game %}
        <div class="col l4 m12 card blue-grey lighten-4">
            <div class="card-content">
                <span class="card-title">Nächstes Spiel</span>
                <p class="maincard">Wann: {{ next_game.play_time }} Uhr</p>
                <div>
                    <table class="centered maincard">
                        <tr>
                            <td width="35%" class="right-align maincard">{{ next_game.home_team.long_name }}</td>
                            <td width="10%" class="right-align"><img height="30" src="/media/{{ next_game.home_team.logo }}"></td>
                            <td>:</td>
                            <td width="10%"><img height="30" src="/media/{{ next_game.guest_team.logo }}"></td>
                            <td width="35%">{{ next_game.guest_team.long_name }}</td>
                        </tr>
                    </table>
                </div>
                <div>
                    <h5>Historie</h5>
                    <table class="centered responsive-table maincard">
                        <tr>
                            <th>Wann</th>
                            <th>Ergebnis</th>
                        </tr>
                        {% for game in games_against %}
                        <tr>
                            <td>{{ game.play_time }}</td>
                                {% if game.home_team == favTeam %}
                            <td>{{ game.goal_count_home_team }}:{{ game.goal_count_guest_team }} (H)</td>
                                {% else %}
                            <td>{{ game.goal_count_home_team }}:{{ game.goal_count_guest_team }} (A)</td>
                                {% endif %}
                        </tr>
                        {% empty %}
                            Bisher keine Spiele.
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- <div class="col l4 m12">
            <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange accent-3"><i class="material-icons right">cloud_download</i>Mitgliedsantrag herunterladen</a>
        </div> -->
    </div>
</div>
{% endblock %}