{% extends 'svh/base.html' %}

{% load mathfilters %}
{% load static %}

{% block content %}
<div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/results.jpg' %}" width="100vh"></div>
</div>
<div class="container">
    <div class="section">
        <div class="row center">
            <h2 class="header center light-blue-text text-darken-4">Ergebnisse</h2>
        </div>
        <div class="row">
            <form action="" method="GET">
                <div class="input-field col s12 m6">
                    <select name="scheduleId" id="scheduleId">
                        <option value="" disabled selected>Wähle Spielplan</option>
                        {% for object in schedules %}
                        <option value="{{ object.playingScheduleId }}">{{ object.title }}</option>
                        {% endfor %}
                    </select>
                    <label>Spielplan</label>
                </div>
                <div class="input-field col s12 m6">
                    <select name="untilMatchday" id="untilMatchday">
                        <option value="" disabled selected>Wähle Spieltag</option>
                        {% for object in matchdays %}
                        <option value="{{ object }}">{{ object }}</option>
                        {% endfor %}
                    </select>
                    <label>Spieltag</label>
                </div>
                <button class="btn waves-effect waves-light orange accent-3" type="submit">Los
                    <i class="material-icons right">send</i>
                </button>
                <input type="button" value="Zurücksetzen" class="waves-effect waves-red btn transparent" onclick="window.location.href='{% url "svh:results" %}'">
            </form>
        </div>

        <div class="row center">
            <h3 class="header center light-blue-text text-darken-4">Spieltag</h3>
        </div>
        <div class="row">
            <table class="striped responsive-table">
                <thead>
                    <tr>
                        <th>Spieltag</th>
                        <th>Zeit</th>
                        <th class="right-align">Heim</th>
                        <th></th>
                        <th class="right-align">Gast</th>
                        <th></th>
                        <th>Ergebnis</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in results %}
                    <tr>
                        <td>{{ object.match_day }}</td>
                        <td>{{ object.play_time }}</td>
                        <td class="right-align"><img height="30" src="/media/{{ object.home_team.logo }}"></td>
                        <td>{{ object.home_team.long_name }}</td>
                        <td class="right-align"><img height="30" src="/media/{{ object.guest_team.logo }}"></td>
                        <td>{{ object.guest_team.long_name }}</td>
                        <td>{{ object.goal_count_home_team|default_if_none:"-" }}:{{ object.goal_count_guest_team|default_if_none:"-" }}</td>
                    </tr>
                    {% empty %}
                        Keine Einträge vorhanden.
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="section">
        <div class="row center">
            <h3 class="header center light-blue-text text-darken-4">Tabelle</h3>
        </div>
        <div class="row">
            <table class="striped responsive-table">
                <thead>
                    <tr>
                        <th>Platz</th>
                        <th>Mannschaft</th>
                        <th>Spiele</th>
                        <th>S</th>
                        <th>U</th>
                        <th>N</th>
                        <th>Torverhältnis</th>
                        <th>Tordifferenz</th>
                        <th>Punkte</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                    {% if object.matches > 0 %}
                    {% if forloop.counter <= count_promoted.0 %}
                    <tr class="green lighten-5">
                    {% elif forloop.counter >= object_list|length|add:1|sub:count_relegated.0 %}
                    <tr class="red lighten-5">
                    {% else %}
                    <tr>
                    {% endif %}
                        <td>{{ forloop.counter }}</td>
                        <td class="valign-wrapper"><img height="30" src="/media/{{ object.logo }}">&nbsp; {{ object.long_name }}</td>
                        <td>{{ object.matches }}</td>
                        <td>{{ object.matchesWon }}</td>
                        <td>{{ object.matchesDraw }}</td>
                        <td>{{ object.matchesLost }}</td>
                        <td>{{ object.shotGoals|default_if_none:"-" }} : {{ object.gotGoals|default_if_none:"-" }}</td>
                        <td>{{ object.goalDifference|default_if_none:"-" }}</td>
                        <td>{{ object.points }}</td>
                    </tr>
                    {% endif %}
                    {% empty %}
                    Keine Einträge vorhanden.
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    selectElementSchedules('scheduleId', '{{ current_schedule }}');

    function selectElementSchedules(id, valueToSelect) {    
        let element = document.getElementById(id);
        element.value = valueToSelect;
    }

    selectElementMatchday('untilMatchday', '{{ current_matchday }}')

    function selectElementMatchday(id, valueToSelect) {    
        let element = document.getElementById(id);
        element.value = valueToSelect;
    }
</script>
{% endblock %}