{% extends 'svh/base.html' %}

{% load static %}

{% block content %}
<div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/report.jpg' %}" width="100vh"></div>
</div>
<div class="container flow-text">
    <div class="section">
        <div class="row">
                <h3>{{ object.scheduledMatch }}</h3>
                <h4>{{ object.title }}</h4>
                <p>{{ object.pub_date }}</p>
                {{ object.text|safe }}
        </div>
    </div>
</div>
{% endblock %}