{% extends 'svh/base.html' %}

{% load static %}

{% block content %}
<div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/reports.jpg' %}" width="100vh"></div>
</div>
<div class="container">
    <div class="section">
        <div class="row center">
            <h2 class="header center light-blue-text text-darken-4">Spielberichte</h2>
        </div>
        <div class="row">
            <form action="" method="GET">
                <div class="input-field col s12">
                    <select name="scheduleId" id="scheduleId">
                        <option value="" disabled selected>Wähle Spielplan</option>
                        {% for object in schedules %}
                        <option value="{{ object.playingScheduleId }}">{{ object.title }}</option>
                        {% endfor %}
                    </select>
                    <label>Spielplan</label>
                </div>
                <button class="btn waves-effect waves-light orange accent-3" type="submit">Los
                    <i class="material-icons right">send</i>
                </button>
                <input type="button" value="Zurücksetzen" class="waves-effect waves-red btn transparent" onclick="window.location.href='{% url "svh:reports" %}'">
            </form>
        </div>
        <table>
            {% for object in object_list %}
            <tr>
                <td><a href="{% url 'svh:report-detail' object.matchReportId %}">{{ object.scheduledMatch }}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="row pagination">
        <div class="col s6">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&laquo; erste</a>
                    <a href="?page={{ page_obj.previous_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">zurück</a>
                {% endif %}
        
                <span class="current">
                    Seite {{ page_obj.number }} von {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">weiter</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">letzte &raquo;</a>
                {% endif %}
            </span>
        </div>
        <div class="col s6 right-align">
            Anzahl pro Seite: <a href="?paginate_by=10{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">10</a>, <a href="?paginate_by=25{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">25</a>, <a href="?paginate_by=50{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">50</a>, <a href="?paginate_by=100{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">100</a>.
        </div>
    </div>
</div>
<script>
    selectElementSchedules('scheduleId', '{{ current_schedule }}');

    function selectElementSchedules(id, valueToSelect) {    
        let element = document.getElementById(id);
        element.value = valueToSelect;
    }
</script>
{% endblock %}