{% extends 'svh/base.html' %}

{% load static %}

{% block content %}
<div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/players.jpg' %}" width="100vh"></div>
</div>
<div class="container">
    <div class="section">
        <div class="row center">
            <h2 class="header center light-blue-text text-darken-4">Spieler</h2>
        </div>
        <div class="row">
            <form action="" method="GET">
                <div class="input-field col s12 m6">
                    <select name="scheduleId" id="scheduleId">
                        <option value="" disabled selected>Wähle Spielplan</option>
                        {% for object in schedules %}
                        <option class="orange-text text-accent-3" value="{{ object.playingScheduleId }}">{{ object.title }}</option>
                        {% endfor %}
                    </select>
                    <label>Spielplan</label>
                </div>
                <div class="input-field col s12 m6">
                    <select name="untilMatchday" id="untilMatchday">
                        <option value="" disabled selected>Wähle Spieltag</option>
                        {% for object in matchdays %}
                        <option value="{{ object }}">{{ object }}</option>
                        {% endfor %}
                    </select>
                    <label>Spieltag</label>
                </div>
                <button class="btn waves-effect waves-light orange accent-3" type="submit">Los
                    <i class="material-icons right">send</i>
                </button>
                <input type="button" value="Zurücksetzen" class="waves-effect waves-red btn transparent" onclick="window.location.href='{% url "svh:players" %}'">
            </form>
        </div>
        <div class="row">
            <table class="striped responsive-table">
                {% if not object_list|length == 0 %}
                <thead>
                    <tr>
                        <th>Rang</th>
                        <th>Name</th>
                        <th>Spiele</th>
                        <th>Tore</th>
                        <th>Vorlagen</th>
                        <th>Gelbe Karten</th>
                        <th>Gelb-Rote Karten</th>
                        <th>Rote Karten</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                    <tr>
                        <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
                        <td>{{ object.name|default_if_none:"-" }}</td>
                        <td>{{ object.games|default_if_none:"-" }}</td>
                        <td>{{ object.goals|default_if_none:"-" }}</td>
                        <td>{{ object.assists|default_if_none:"-" }}</td>
                        <td>{{ object.yellow_cards|default_if_none:"-" }}</td>
                        <td>{{ object.yellow_red_cards|default_if_none:"-" }}</td>
                        <td>{{ object.red_cards|default_if_none:"-" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% else %}
                        Keine Einträge vorhanden.
                {% endif %}
            </table>
        </div>
        <div class="row pagination">
            <div class="col s6">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&laquo; erste</a>
                        <a href="?page={{ page_obj.previous_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">zurück</a>
                    {% endif %}
            
                    <span class="current">
                        Seite {{ page_obj.number }} von {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">weiter</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">letzte &raquo;</a>
                    {% endif %}
                </span>
            </div>
            <div class="col s6 right-align">
                Anzahl pro Seite: <a href="?paginate_by=10{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">10</a>, <a href="?paginate_by=25{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">25</a>, <a href="?paginate_by=50{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">50</a>, <a href="?paginate_by=100{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">100</a>.
            </div>
        </div>
    </div>
</div>
<script>
    selectElementSeason('scheduleId', '{{ default_schedule }}')

    function selectElementSeason(id, valueToSelect) {    
        let element = document.getElementById(id);
        element.value = valueToSelect;
    }

    selectElementMatchday('untilMatchday', '{{ default_matchday }}')

    function selectElementMatchday(id, valueToSelect) {    
        let element = document.getElementById(id);
        element.value = valueToSelect;
    }
</script>
{% endblock %}