{% extends 'svh/base.html' %}

{% load static %}

{% block content %}
<div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/scheduled.jpg' %}" width="100vh"></div>
</div>
<div class="container">
    <div class="section">
        <div class="row center">
            <h2 class="header center light-blue-text text-darken-4">Spielplan</h2>
        </div>
        <div class="row">
            <form action="" method="GET">
                <div class="input-field col s12 m6">
                    <select name="scheduleId" id="scheduleId">
                        <option value="" disabled selected>Wähle Spielplan</option>
                        {% for object in schedules %}
                        <option value="{{ object.playingScheduleId }}">{{ object.title }}</option>
                        {% endfor %}
                    </select>
                    <label>Spielplan</label>
                </div>
                <div class="input-field col s12 m6">
                    <select name="favTeamId" id="favTeamId">
                        <option value="" disabled selected>Wähle Mannschaft</option>
                        {% for object in teams %}
                        <option value="{{ object.teamId }}">{{ object }}</option>
                        {% endfor %}
                    </select>
                    <label>Mannschaft</label>
                </div>
                <button class="btn waves-effect waves-light orange accent-3" type="submit">Los
                    <i class="material-icons right">send</i>
                </button>
                <input type="button" value="Zurücksetzen" class="waves-effect waves-red btn transparent" onclick="window.location.href='{% url "svh:schedule" %}'">
            </form>
        </div>
        <div class="row">
            <div id="test1" class="col s12">
                <table class="striped responsive-table">
                    <thead>
                        <tr>
                            <th>Spieltag</th>
                            <th>Zeit</th>
                            <th>Spiel</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                        <tr>
                            <td>{{ object.match_day }}</td>
                            <td>{{ object.play_time }}</td>
                            <td class="valign-wrapper"><img height="30" src="/media/{{ object.home_team.logo }}">&nbsp; {{ object.home_team.long_name }} : &nbsp; <img height="30" src="/media/{{ object.guest_team.logo }}">&nbsp; {{ object.guest_team.long_name }}</td>
                        </tr>
                    {% empty %}
                    </tbody>
                        Keine Einträge vorhanden.
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="row pagination">
            <div class="col s6">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&laquo; erste</a>
                        <a href="?page={{ page_obj.previous_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">zurück</a>
                    {% endif %}
            
                    <span class="current">
                        Seite {{ page_obj.number }} von {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">weiter</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">letzte &raquo;</a>
                    {% endif %}
                </span>
            </div>
            <div class="col s6 right-align">
                Anzahl pro Seite: <a href="?paginate_by=10{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">10</a>, <a href="?paginate_by=25{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">25</a>, <a href="?paginate_by=50{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">50</a>, <a href="?paginate_by=100{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">100</a>.
            </div>
        </div>
    </div>
</div>
<script>
    selectElementSeason('scheduleId', '{{ default_schedule }}')

    function selectElementSeason(id, valueToSelect) {    
        let element = document.getElementById(id);
        element.value = valueToSelect;
    }

    selectElementFavTeamId('favTeamId', '{{ showTeam }}')

    function selectElementFavTeamId(id, valueToSelect) {    
        let element = document.getElementById(id);
        element.value = valueToSelect;
    }
</script>
{% endblock %}