{% extends 'svh/base.html' %}

{% load static %}

{% block content %}
<div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/stats.jpg' %}" width="100vh"></div>
</div>
<div class="container">
    <div class="section">
        <div class="row center">
            <h2 class="header center light-blue-text text-darken-4">Ligastatistik</h2>
        </div>
        <div class="row">
            <form action="" method="GET">
                <div class="input-field col s12">
                    <select name="scheduleId" id="scheduleId">
                        <option value="" disabled selected>Wähle Spielplan</option>
                        {% for object in schedules %}
                        <option value="{{ object.playingScheduleId }}">{{ object.title }}</option>
                        {% endfor %}
                    </select>
                    <label>Spielplan</label>
                </div>
                <!-- <div class="input-field col s6">
                    <select name="favTeamId" id="favTeamId">
                        <option value="" disabled selected>Wähle Mannschaft</option>
                        {% for object in teams %}
                        <option value="{{ object.teamId }}">{{ object }}</option>
                        {% endfor %}
                    </select>
                    <label>Mannschaft</label>
                </div> -->
                <button class="btn waves-effect waves-light orange accent-3" type="submit">Los
                    <i class="material-icons right">send</i>
                </button>
                <input type="button" value="Zurücksetzen" class="waves-effect waves-red btn transparent" onclick="window.location.href='{% url "svh:stats" %}'">
            </form>
        </div>
        <div class="row">
            <div class="col s12 m12 l4">
                <div class="card hoverable grey lighten-4">
                    <table>
                        <tbody>
                            <tr>
                                <th colspan="2">
                                    <h6 class="center-align">Gesamt</h6>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    Anzahl Spiele:
                                </td>
                                <td>
                                    {{ matches }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Anzahl Heimsiege:
                                </td>
                                <td>
                                    {{ matchesWonHomeAbs }} ({{ matchesWonHomeRel }} %)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Anzahl Unentschieden:
                                </td>
                                <td>
                                    {{ matchesDrawAbs }} ({{ matchesDrawRel }} %)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Anzahl Auswärtssiege:
                                </td>
                                <td>
                                    {{ matchesWonGuestAbs }} ({{ matchesWonGuestRel }} %)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col s12 m12 l4">
                <div class="card hoverable grey lighten-4">
                    <table>
                        <tbody>
                            <tr>
                                <th colspan="2">
                                    <h6 class="center-align">Pro Spiel</h6>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    Anzahl Tore:
                                </td>
                                <td>
                                    {{ goalsPerMatch }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Anzahl Heimtore:
                                </td>
                                <td>
                                    {{ goalsHomePerMatchAbs }} ({{ goalsHomePerMatchRel }} %)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Anzahl Auswärtstore:
                                </td>
                                <td>
                                    {{ goalsGuestPerMatchAbs }} ({{ goalsGuestPerMatchRel }} %)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col s12 m12 l4">
                <div class="card hoverable grey lighten-4">
                    <table class="centered">
                        <tbody>
                            <tr>
                                <th colspan="2">
                                    <h6 class="center-align">Höchster Sieg/Niederlage</h6>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    {{ highestDifferenceGame.play_time }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ highestDifferenceGame.home_team }} : {{ highestDifferenceGame.guest_team }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ highestDifferenceGame.goal_count_home_team }}:{{ highestDifferenceGame.goal_count_guest_team }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card hoverable grey lighten-4">
                    <embed type="image/svg+xml" src={{ cht_goals|safe }} />
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    selectElementSchedule('scheduleId', '{{ default_schedule }}')

    function selectElementSchedule(id, valueToSelect) {    
        let element = document.getElementById(id);
        element.value = valueToSelect;
    }

    selectElementFavTeamId('favTeamId', '{{ showTeam }}')

    function selectElementFavTeamId(id, valueToSelect) {    
        let element = document.getElementById(id);
        element.value = valueToSelect;
    }
</script>
<script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
{% endblock %}