{% extends 'svh/base.html' %}

{% load static %}

{% block content %}
<div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/contact.jpg' %}" width="100vh"></div>
</div>
<div class="container">
    <div class="section">
        <div class="row center">
            <h2 class="header center light-blue-text text-darken-4">Nachricht gesendet</h2>
        </div>
        <div class="row center">
            <p>Vielen Dank. Falls du eine weitere Nachricht senden möchtest, wiederhole den Vorgang.</p>
        </div>
        <div class="col l4 m12 row center">
            <a href="{% url 'svh:contact' %}" id="contact-page" class="btn-large waves-effect waves-light orange accent-3"><i class="material-icons right">contact_mail</i>Kontaktformular</a>
        </div>
    </div>
</div>

{% endblock %}